In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
dt = pd.read_csv('properties-cleaned-v4.csv')

In [4]:
dt.sample(2)

,society,price,sector,pricePerSqft,propertyType,area,superbuilt,carpet,builtup,bedRooms,bathRooms,address,floorNum,facing,agePossesion,balcony,pooja room,servant room,study room,others,store room,furnishType,luxuryScore,areaToBedRatio
912,"parsvnath exotica, sector 53, gurgaon",12.00,sector 53,28571.43,house,4200.00,5460.00,3570.000,4200.000,4.0,5.0,"parsvnath exotica, sector 53, gurgaon",2.0,north,relatively new property,3+,1,1,1,0,1,0,207,1050.000000
1910,signature global grand iva,0.91,sector 103,14118.60,flat,644.54,644.54,418.951,515.632,3.0,2.0,"Signature Global Grand IVA Sector 103, Gurgaon",10.0,na,relatively new property,NaN,0,0,0,0,0,2,39,214.846667

In [9]:
dt.isnull().sum()

society              0
price                0
sector               0
pricePerSqft      1235
propertyType         0
area              1235
superbuilt        1235
carpet            1235
builtup           1235
bedRooms             0
bathRooms            0
address              0
floorNum            12
facing               0
agePossesion         0
balcony           2116
pooja room           0
servant room         0
study room           0
others               0
store room           0
furnishType          0
luxuryScore          0
areaToBedRatio    1235
dtype: int64

# floorNum

In [12]:
dt[dt['floorNum'].isnull()]

,society,price,sector,pricePerSqft,propertyType,area,superbuilt,carpet,builtup,bedRooms,bathRooms,address,floorNum,facing,agePossesion,balcony,pooja room,servant room,study room,others,store room,furnishType,luxuryScore,areaToBedRatio
3,"nirvana country, gurgaon",10.40,sector 50,NaN,house,NaN,NaN,NaN,NaN,4.0,4.0,"nirvana country, gurgaon",NaN,north-east,relatively new property,2,0,1,1,0,0,1,37,NaN
838,"sector 47, gurgaon",2.75,sector 47,NaN,house,NaN,NaN,NaN,NaN,3.0,2.0,"sector 47, gurgaon",NaN,north-east,moderatly old property,1,0,0,0,0,0,2,10,NaN
914,"sector 40, gurgaon",3.50,sector 40,NaN,house,NaN,NaN,NaN,NaN,3.0,3.0,"sector 40, gurgaon",NaN,north-east,moderatly old property,2,0,0,0,0,0,2,10,NaN
1436,"sector 39, gurgaon",4.60,sector 39,NaN,house,NaN,NaN,NaN,NaN,6.0,5.0,"sector 39, gurgaon",NaN,south-west,old property,2,0,0,0,1,0,1,7,NaN
1562,"vipul tatvam villa, sector 48, gurgaon",11.00,sector 48,NaN,house,NaN,NaN,NaN,NaN,4.0,5.0,"vipul tatvam villa, sector 48, gurgaon",NaN,na,moderatly old property,3+,1,1,1,0,1,1,207,NaN
1584,"sector 15 part 2, gurgaon",8.25,sector 15,NaN,house,NaN,NaN,NaN,NaN,3.0,3.0,"sector 15 part 2, gurgaon",NaN,north-east,relatively new property,2,1,0,0,0,0,1,17,NaN
2694,"part 3 sector 5, gurgaon",3.60,part 3 sector 5,NaN,house,NaN,NaN,NaN,NaN,2.0,2.0,"part 3 sector 5, gurgaon",NaN,south-west,old property,2,0,0,0,0,0,2,66,NaN
2797,"vipul tatvam villa, sector 48, gurgaon",10.70,sector 48,NaN,house,NaN,NaN,NaN,NaN,4.0,4.0,"vipul tatvam villa, sector 48, gurgaon",NaN,east,old property,3+,0,1,0,0,0,2,185,NaN
2878,"emaar the palm sprgs, sector 54, gurgaon",30.00,sector 54,56603.77,house,5300.0,6890.0,4505.0,5300.0,4.0,4.0,"emaar the palm sprgs, sector 54, gurgaon",NaN,na,old property,3+,1,1,1,0,1,1,63,1325.0
2895,"signature global city 37d ph 2, sector 37d, ...",1.80,sector 37,12500.00,house,1440.0,1800.0,1152.0,1440.0,3.0,3.0,"signature global city 37d ph 2, sector 37d, ...",NaN,na,new property,2,1,0,0,0,0,2,28,480.0
3031,"rosewood city, gurgaon",17.00,sector 49,25875.19,house,6570.0,8541.0,5584.5,6570.0,5.0,4.0,"rosewood city, gurgaon",NaN,na,relatively new property,3,0,0,0,0,0,2,98,1314.0
3438,"nirvana country, gurgaon",15.00,sector 50,NaN,house,NaN,NaN,NaN,NaN,4.0,4.0,"nirvana country, gurgaon",NaN,south-east,moderatly old property,3+,1,1,1,0,1,1,170,NaN

In [14]:
dt[dt['propertyType'] == 'house'][['floorNum']].median()

floorNum    3.0
dtype: float64

In [16]:
# so i will just impute the values with median incase of Nan

In [18]:
dt['floorNum'].fillna(3.0,inplace = True)

/var/folders/gy/lt_77nr13fs5zj9y4gdv7v4r0000gn/T/ipykernel_64228/538365032.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['floorNum'].fillna(3.0,inplace = True)

In [20]:
dt['floorNum'].isnull().sum()

0

# balcony

In [74]:
dt['balcony'].isnull().sum()

2116

In [76]:
dt.sample(5)

,society,price,sector,pricePerSqft,propertyType,area,builtup,bedRooms,bathRooms,address,floorNum,agePossesion,balcony,pooja room,servant room,study room,others,store room,furnishType,luxuryScore
3455,"dlf new town heights 2, sector 86, gurgaon",4.65,sector 86,14307.69,house,3250.0,3250.00,4.0,4.0,"dlf new town heights 2, sector 86, gurgaon",2.0,moderatly old property,3+,1,1,0,0,0,2,135
1622,m3m heights,2.50,sector 65,17445.92,flat,1433.0,1074.75,2.0,2.0,"M3M Heights Sector 65, Gurgaon",15.0,new property,NaN,0,0,1,0,0,0,221
2792,ireo skyon,2.85,sector 60,18387.10,flat,1550.0,1162.50,2.0,2.0,"Ireo Skyon Sector 60, Gurgaon",12.0,moderatly old property,NaN,0,1,0,0,0,1,221
2603,"south city 1, gurgaon",11.01,sector 41,24417.83,house,4509.0,4509.00,6.0,6.0,"south city 1, gurgaon",3.0,moderatly old property,3,1,1,1,0,0,1,112
1159,brisk lumbi terrace homes,1.80,sector 109,9620.52,flat,1871.0,1496.80,3.0,3.0,"Brisk Lumbini Terrace Homes Sector 109, Gurgaon",10.0,relatively new property,NaN,0,0,0,0,0,1,221

In [78]:
dt['balcony'].value_counts(dropna = False)

balcony
NaN    2116
3+      783
3       344
2       309
1        42
0        10
Name: count, dtype: int64

In [80]:
# our 60 percent of balocny data is missing 
# so i will just do a mode based imputation

In [82]:
import random

In [104]:
def modeImputation(data,dt):

    val1 = dt[dt['propertyType'] == data['propertyType']]['balcony'].mode()
    val2 = dt[dt['price'] == data['price']]['balcony'].mode()
    val3 = dt[dt['builtup'] == data['builtup']]['balcony'].mode()
    
    vals = []
    if not val1.empty:
        vals.append(val1.iloc[0])
    if not val2.empty:
        vals.append(val2.iloc[0])
    if not val3.empty:
        vals.append(val3.iloc[0])

    if vals:
        return random.choice(vals)
    else:
        # global mode
        return dt['balcony'].mode().iloc[0]

In [106]:
dt.loc[dt['balcony'].isna(),'balcony'] = dt[dt['balcony'].isna()].apply(lambda x:modeImputation(x,dt), axis = 1)

In [108]:
dt['balcony'].isna().sum()

0

In [110]:
dt['balcony'].value_counts()

balcony
3+    1875
2     1030
3      537
1      114
0       48
Name: count, dtype: int64

# agePossesion

In [34]:
dt['agePossesion'].value_counts()

agePossesion
relatively new property    1893
moderatly old property      797
new property                558
old property                335
under construction           21
Name: count, dtype: int64

#  area

In [37]:
dt['area'].isnull().sum()

1235

In [39]:
# im dropping thses columns caue they are not needded anymore 
dt.drop(columns = ['superbuilt','carpet','areaToBedRatio','facing'],inplace = True)

In [41]:
dt[dt['area'].isnull()].sample(5)

,society,price,sector,pricePerSqft,propertyType,area,builtup,bedRooms,bathRooms,address,floorNum,agePossesion,balcony,pooja room,servant room,study room,others,store room,furnishType,luxuryScore
1923,"sector 47, sector 47, gurgaon",2.70,sector 47,NaN,house,NaN,NaN,3.0,3.0,"sector 47, sector 47, gurgaon",3.0,relatively new property,2,0,0,0,0,1,2,111
838,"sector 47, gurgaon",2.75,sector 47,NaN,house,NaN,NaN,3.0,2.0,"sector 47, gurgaon",3.0,moderatly old property,1,0,0,0,0,0,2,10
1693,"greenwood city, gurgaon",11.25,sector 45,NaN,house,NaN,NaN,5.0,6.0,"greenwood city, gurgaon",3.0,relatively new property,3,1,1,0,0,1,1,190
980,pioneer park,4.15,sector 61,NaN,flat,NaN,NaN,3.0,4.0,"Pioneer Park Sector 61, Gurgaon",8.0,moderatly old property,NaN,0,1,1,0,0,1,32
1329,"sector 45, gurgaon",9.90,sector 45,NaN,house,NaN,NaN,7.0,8.0,"sector 45, gurgaon",3.0,moderatly old property,3+,0,1,0,0,1,1,87

In [43]:
((dt['builtup'].isnull()) & (dt['area']).isnull()).sum()

1235

In [45]:
dt[dt['area'].isnull()].groupby('propertyType').size()

propertyType
flat      193
house    1042
dtype: int64

In [47]:
dt.groupby(['propertyType'])['area'].median()

propertyType
flat     1999.0
house    4500.0
Name: area, dtype: float64

In [49]:
def medianBasedInputation(row):
    
    if pd.isnull(row['area']):
    
        temp = dt[dt['propertyType']==row['propertyType']]
            
        pred1 = temp[temp['bedRooms'] == row['bedRooms']]['area'].median()
        pred2 = temp[temp['price'] == row['price']]['area'].median()
        pred3 = temp[temp['floorNum'] == row['floorNum']]['area'].median()
    
        preds = [val for val in [pred1,pred2,pred3] if pd.notna(val)]
        
        return np.median(preds)

    else:
        
        return row['area']

In [51]:
dt['area'] = dt.apply(medianBasedInputation , axis = 1)

In [52]:
dt['area'].isnull().sum()

0

In [53]:
# just using the old logic to fill in remaining nan values of builtup

In [54]:
def areaTypes(val):
    
    if val['propertyType'] == 'house':
        
        val['builtup'] = val['area']
        
    else:

        if val['bedRooms'] == 1:
           val['builtup'] = (val['area']*0.70)
            
        elif val['bedRooms'] == 2:
            val['builtup'] = (val['area']*0.75)
            
        elif val['bedRooms'] == 3:
            val['builtup'] = (val['area']*0.80)
        
        else:
            val['builtup'] = (val['area']*0.85)
        
    return val['builtup']

In [59]:
dt['builtup'] = dt.apply(areaTypes,axis = 1)

In [61]:
dt['builtup'].isnull().sum()

0

In [63]:
dt['pricePerSqft'].fillna(round(((dt['price']*10000000)/dt['area']),2),inplace = True)

/var/folders/gy/lt_77nr13fs5zj9y4gdv7v4r0000gn/T/ipykernel_64228/4136804270.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['pricePerSqft'].fillna(round(((dt['price']*10000000)/dt['area']),2),inplace = True)

In [65]:
dt['pricePerSqft'].isna().sum()

0

In [112]:
dt.isnull().sum()

society         0
price           0
sector          0
pricePerSqft    0
propertyType    0
area            0
builtup         0
bedRooms        0
bathRooms       0
address         0
floorNum        0
agePossesion    0
balcony         0
pooja room      0
servant room    0
study room      0
others          0
store room      0
furnishType     0
luxuryScore     0
dtype: int64

In [114]:
dt.to_csv('properties-cleaned-v5.csv' , index = False)