In [28]:
import pandas as pd
import numpy as np 
import plotly as pt

In [30]:
dt = pd.read_csv('dataset-v6.csv')

In [34]:
dt.drop(columns = 'Unnamed: 0' , inplace = True)

In [38]:
dt['pricePerSqft'] = round((dt['Y']*10000000)/dt['builtup'],2)

In [42]:
dt.sample(3)

,sector,propertyType,builtup,bedRooms,bathRooms,agePossesion,balcony,pooja room,servant room,study room,others,store room,luxCat,heightCat,Y,pricePerSqft
2378,79,1.0,1469.0,2.0,2.0,1.0,2.0,0,0,1,0,0,2.0,2.0,1.80,12253.23
98,102,0.0,1026.0,2.0,2.0,1.0,4.0,0,0,0,0,0,1.0,0.0,1.91,18615.98
3454,104,0.0,1162.5,2.0,2.0,3.0,2.0,0,0,0,0,0,1.0,1.0,2.00,17204.30